.login{

  .main-icon{
    width: 60%;
    display: block;
    margin: auto;
    img{
      width: 100%;
    }
  }

  .btn-group{
    width:100%;
    text-align: center;
    margin-top: 25%;
    line-height: 1.5em;
  }

  .message{
    color: red;
    width:100%;
    text-align: center;
    line-height: 1.5em;
  }
}
